@import url("https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Do+Hyeon&family=Nanum+Gothic:wght@700&family=Noto+Sans+KR:wght@200;300&family=Noto+Serif:ital,wght@1,900&display=swap");

.Ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 3rem;
  font-weight: 900;
  font-family: "Do Hyeon";
}
